# ======================
# Python
# ======================

__pycache__/
*.py[cod]
*$py.class


# ======================
# Virtual Environment
# ======================

venv/
.env
.env.*


# ======================
# Streamlit
# ======================

.streamlit/


# ======================
# ChromaDB
# ======================

chroma_db/


# ======================
# Data
# ======================

data/documents/*
!data/documents/.gitkeep


# ======================
# IDE
# ======================

.vscode/
.idea/


# ======================
# OS
# ======================

.DS_Store
Thumbs.db


# ======================
# Logs
# ======================

*.log


# ======================
# Docker
# ======================

docker-compose.override.yml